@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.wrap img {
  width: 12vw;
  margin-top: 35px;
  margin-left: 150px;
}

.head {
  position: absolute;
}

.login {
  left: 50%;
  top: 1%;
}

#header .login {
  background: transparent;
  color: #fff;
  width: 50px;
  margin: 0;
  position: absolute;
  left: 70vw;
  top: 40px;
  font-family: var(--font-Pretendard);
  text-align: center;
  font-weight: 700;
}

.menu {
  display: flex;
  position: absolute;
  right: -28vw;
  width: 800px;
  height: 10px;
  margin-top: 48px;
  font-size: 1.2rem;
  background-color: transparent;
}

.menu li a {
  left: 300px;
  font-family: var(--font-Pretendard);
  font-weight: 700;
  font-size: 1.2rem;
}

.menu li a {
  border-bottom: none;
  color: #fff;
  left: 30vw;
  bottom: 75px;
}

.story_menu_down img,
#icon,
#header p {
  display: none;
}

#icon + label + #header {
  position: absolute;
  background-color: transparent;
  border: none;
  right: -20vw;
}

.story_menu_down:focus + .sub_menu {
  display: none;
}

.sub_menu {
  display: none;
  position: absolute;
}

.story_menu_down:hover + .sub_menu,
.sub_menu:hover {
  display: block;
  left: 20px;
  top: 50px; /* 원하는 위치로 조정해주세요 */
}

.sub_menu li a {
  padding: 1rem;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1rem;
  position: relative;
  display: block;
  color: #000;
  background-color: #fff;
  margin: 0;
  text-align: center;
  border: 1px solid #000;
}

#icon + label {
  display: none;
}

.sub_menu li:nth-child(1) a {
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}

.sub_menu li:nth-child(2) a {
  border-bottom: none;
  border-top: 1px solid #e1e1e1;
}

.sub_menu li:nth-child(3) a {
  border-top: 1px solid #e1e1e1;
  border-bottom: none;
  border-radius: 0 0 10px 10px;
}

/***** section *****/
.intro {
  background: url(../images/visual-story.jpg);
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  font-family: var(--font-PyeongChang);
}

.intro h2 {
  position: absolute;
  top: 16vw;
  left: 10vw;
  color: #fff;
  font-size: 5vw;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.intro .awards {
  position: absolute;
  top: 23vw;
  left: 10vw;
  color: #fff;
  display: block;
}

.intro .awards dl {
  display: flex;
  margin: 0.4rem;
  align-items: baseline;
}

.intro .awards dt {
  display: block;
  text-align: center;
  background-color: #2f2c29;
  border-radius: 50px;
  padding: 0.7rem;
  word-break: keep-all;
  font-size: 1.3vw;
  width: 5vw;
}

.intro .awards dd {
  font-size: 3vw;
  display: block;
  padding-left: 2rem;
  font-size: 1.5rem;
  width: 560px;
  line-height: 2;
}

.intro .sub_visual_scroll {
  width: 7rem;
  height: 4rem;
  font-size: 1rem;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transform: translate(-50%, 0);
}

.intro .sub_visual_scroll::before {
  position: absolute;
  background-color: #136f5a;
  box-shadow: 0px 18px 27px 0px rgba(10, 39, 33, 0.43) inset;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 200%;
  border-radius: 100%;
  opacity: 0.5;
}

.intro .sub_visual_scroll span {
  color: #fff;
  z-index: 1;
  font-size: 0.8rem;
  font-family: var(--font-Pretendard);
  font-weight: 700;
}

.intro .pencile {
  position: absolute;
  bottom: -2px;
  right: 0;
  width: 100vh;
  z-index: 0;
}

.intro .award {
  width: 30%;
  position: absolute;
  top: 15%;
  left: 55%;
}

.intro .award_bg1 {
  width: 30%;
  position: absolute;
  top: 15%;
  left: 55%;
}

/***** section *****/
.content {
  background: url(../images/story-bg.jpg) repeat;
  background-size: cover;
}

.content .story h3 {
  font-size: 4rem;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 100px;
  margin: 0;
  font-family: var(--font-puradak);
  font-weight: 600;
}

.content .story h4 {
  font-size: 2.5rem;
  margin-left: 20vw;
  font-family: var(--font-PyeongChang);
  font-weight: bold;
}

.content .story figure .sub_img {
  width: 65%;
  height: 40vw;
  border-radius: 3%;
  margin-left: 19vw;
  margin-bottom: 30px;
}

.content .story .gupo_story {
  font-size: 1.2vw;
  line-height: 1.7;
  padding: 3px;
  margin-left: 18vw;
  display: block;
  margin-right: 16vw;
  font-family: var(--font-PyeongChang);
}

.content .story h5 {
  padding-top: 3vw;
  margin-left: 18vw;
  font-family: var(--font-PyeongChang);
  font-size: 19px;
}

.content .story .confirm {
  font-size: 1rem;
  margin-top: 15px;
  margin-left: 18vw;
  color: #999;
}

.content .story .awardspeech {
  font-size: 1.5rem;
  position: relative;
  right: -18vw;
  width: 100px;
}

.content .story .dot {
  border-top: 2px dotted #000;
  display: flex;
  margin-left: 18vw;
  margin-right: 15vw;
}

.content .story .gupo_pic .sub_imgH {
  position: relative;
  left: 17.5vw;
  width: 13vw;
  border-radius: 15px 15px;
}

.content .story .review .name {
  position: relative;
  top: -13vw;
  left: 32vw;
  width: 50px;
}

.content .story .review .name i {
  font-size: 1rem;
  border-radius: 100%;
  background-color: #000;
  color: #fff;
  padding: 5px;
  position: relative;
  top: 13px;
}

.content .story .review .name h3 {
  width: 100px;
  margin: 0;
  font-size: 1.2rem;
  padding-top: 0;
  padding-bottom: 0;
  font-family: var(--font-PyeongChang);
}

.content .story .review p {
  color: #666;
  font-size: 1vw;
  margin-top: 1.2rem;
  padding: 5px;
  line-height: 1.5;
  width: 50vw;
  position: relative;
  top: -13vw;
  left: 32.5vw;
}

.content .story .review .cloud {
  display: flex;
  justify-content: right;
  padding-bottom: 30px;
}

.content .story .review .cloud .after .cloud_btnF li {
  display: inline-block;
  height: 60px; /* 원하는 높이 조절 */
  border-radius: 100px; /* 원 모양의 구름을 만들기 위해 반지름 설정 */
  position: relative;
  margin: -1rem;
}

.content .story .review .cloud .after .cloud_btnF li::before,
.content .story .review .cloud .after .cloud_btnF li::after {
  content: "";
  width: 3rem; /* 구름의 일부분 너비 조절 */
  height: 3rem; /* 구름의 일부분 높이 조절 */
  background-color: #20ca6e; /* 구름의 색상을 조절 */
  position: absolute;
  border-radius: 100px;
}

.content .story .review .cloud .after .cloud_btnF li::before {
  /* 위쪽 구름 부분 위치 조절 */
  left: -13rem; /* 위쪽 구름 부분 위치 조절 */
  top: -6rem;
}

.content .story .review .cloud .after .cloud_btnF li::after {
  /* 위쪽 구름 부분 위치 조절 */
  left: -18rem; /* 위쪽 구름 부분 위치 조절 */
  top: -6rem;
}

.content .story .review .cloud .after p {
  position: relative;
  top: -9.7rem;
  left: -22rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 8rem;
  font-size: 1rem;
}

.content .story .review .cloud .after img {
  width: 40px;
  position: relative;
  top: -11.5rem;
  left: -14rem;
}

.content .story .review .cloud .after:hover li::after,
.content .story .review .cloud .after:hover li::before {
  background-color: #1da05a;
  transition: 0.3s ease;
}

/* footer */
.btn_top {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 195em;
  right: 1.5rem;
  z-index: 999;
}

.btn_top img {
  width: 2rem;
  transform: rotate(-90deg);
  opacity: 0.3;
  border-radius: 100%;
  border: 3px solid #ccc;
}

.foot {
  background-color: #111;
  padding-top: 1px;
  font-family: var(--font-PyeongChang);
}

.foot span,
.foot h2 {
  color: #fff;
  position: relative;
  top: 70px;
  padding-left: 7rem;
}

.foot span {
  font-size: 2.1rem;
}

.foot h2 {
  font-size: 4rem;
  font-weight: 700;
}

.foot_cloud {
  display: flex;
  left: 50px;
  flex-direction: column;
}

.foot_green {
  padding-left: 90vw;
}

.foot_green li {
  display: inline-block;
  height: 50px;
  /* 원하는 높이 조절 */
  border-radius: 100px;
  /* 원 모양의 구름을 만들기 위해 반지름 설정 */
  position: relative;
  margin: -13px;
}

.foot_green li::before,
.foot_green li::after {
  content: "";
  width: 40px;
  /* 구름의 일부분 너비 조절 */
  height: 40px;
  /* 구름의 일부분 높이 조절 */
  background-color: #20ca6e;
  /* 구름의 색상을 조절 */
  position: absolute;
  border-radius: 100px;
}

.foot_green li::before {
  /* 위쪽 구름 부분 위치 조절 */
  left: 50px;
  /* 위쪽 구름 부분 위치 조절 */
  top: -30px;
}

.foot_green li::after {
  /* 위쪽 구름 부분 위치 조절 */
  left: 70px;
  /* 위쪽 구름 부분 위치 조절 */
  top: -30px;
}

.green p {
  position: relative;
  bottom: 57px;
  padding-left: 90.4vw;
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
}

.foot_info_address {
  position: relative;
  bottom: 40px;
  margin: 1rem 0;
  color: #fff;
  opacity: 0.5;
  display: block;
  font-size: 15px;
  margin-bottom: 60px;
  padding-right: 4.3vw;
  text-align: right;
}

.foot_info_address p {
  padding-top: 10px;
  padding-left: 10px;
}

.footer_copy {
  padding-top: 20px;
  font-size: 12px;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_copy a {
  font-size: 0.8rem;
  position: relative;
  top: 0.8vw;
  left: 85vw;
  font-weight: 600;
}

.footer_copy p {
  font-size: 0.9rem;
  margin-top: 0;
  opacity: 0.5;
  padding-left: 5.7vw;
}
